/*=======================================================
  Logo
=======================================================*/
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo__second-part {
  color: #000000;
}

.logo__second-part--light {
  color: #ffffff;
}
