/*=======================================================
  Address
=======================================================*/
.address {
  margin-top: 20px;
}

.address__item {
  font-style: normal;
  line-height: 1.71;
  color: inherit;
}

.address__item:not(:first-child) {
  margin-top: 9px;
}

.address__link,
.address__contact {
  transition: color var(--animation-duration) var(--animation-timing-function);
}

.address__link {
  color: var(--text-tertiary-color);
}

.address__contact {
  color: rgba(255, 255, 255, 0.6);
}

.address__contact:hover,
.address__contact:focus,
.address__link:hover,
.address__link:focus {
  color: var(--accent-color);
}
